<section class="instructions">
    <div class="instructions__container">
        <h2 class="instructions__title">Getting Started Is Fast &amp; Easy</h2>
        <ul class="instructions__list">
            <li class="instructions__list-item">
                <span class="list-item__number">01.</span>
                <h3 class="list-item__title">Register</h3>
                <p class="list-item__text">Complete the simple registration to get your trading credentials.</p>
            </li>
            <li class="instructions__list-item">
                <span class="list-item__number">02.</span>
                <h3 class="list-item__title">Verification</h3>
                <p class="list-item__text">Big Invest is required to verify your identity, upload your documents quickly and get approved in minutes.</p>
            </li>
            <li class="instructions__list-item">
                <span class="list-item__number">03.</span>
                <h3 class="list-item__title">Deposit funds</h3>
                <p class="list-item__text">Big Invest accepts credit cards and bank wires. Just use the secure deposit form and follow the steps.</p>
            </li>       
            <li class="instructions__list-item">
                <span class="list-item__number">04.</span>
                <h3 class="list-item__title">Start Trading</h3>
                <p class="list-item__text">Once your deposit has been credited, you can begin trading instantly. In no time you will see profits rolling into your account.</p>
            </li>
            
        </ul>
    </div>

</section>