<section class="about">
    <div class="about__container">
        <h2 class="about__title">People love Big Invest</h2>

        <div class="swiper-container">
            <ul class="swiper-wrapper about__list"></ul>
            <div class="swiper-pagination"></div>

            <div class="about__buttons-wraper">
                <button class="swiper-button-prev about__button"></button>
                <button class="swiper-button-next about__button"></button>
            </div>
        </div>
    </div>
</section>