<li class="swiper-slide -about__list-item">
    <img src="{{img}}" alt="" width="73" height="73">
    <h3 class="list-item__name">{{name}}</h3>
    <span class="list-item__title">{{title}}</span>
    <p class="list-item__comment">{{comment}}</p>
</li>