<section class="contacts">
    <div class="contacts__info-wrapper">
        <h2 class="contacts__title">Contact us!</h2>
        <p class="contacts__text">The support staff and customer service are available to help you with any questions or needs you might have. Just drop us a line.</p>
        <span class="contacts__info">This site is owned and operated by Kode Tech Solutions LTD</span>
        <h3 class="contacts__phone-title">Phone</h3>
        <span class="contacts__phone-wrapper"><a class="contacts__phone" href="tel:+442038857261">442038857261</a></span>
        <h3 class="contacts__email-title">Email</h3>
        <span class="contacts__email-wrapper"><a class="contacts__email" href="mailto:help@google.com">help@google.com</a></span>
        <h3 class="contacts__address-title">Address</h3>
        <span class="contacts__email-wrapper">Trust Company Complex, Ajeltake Road, Ajeltake Island, Majuro, Republic of the Marshall Islands, MH 96960</span>
    </div>
    <form class="contacts__form" action="submit">
        <input class="form__input" type="text" placeholder="Name">
        <input class="form__input" type="email" placeholder="Email">
        <input class="form__input form__input-msg" type="text" placeholder="Message">
        <button>Send</button>
    </form>
</section>