<div class="container">
    <a href="#" class="logotype" id="js-logo">Logo</a>
    <button class="ham"></button>
    <nav class="navbar">
        <ul class="navbar-list">
            <li class="navbar-item"><a class="menuLink" href="#">How it works</a></li>
            <li class="navbar-item"><a class="menuLink" href="#">About</a></li>
            <li class="navbar-item"><a class="menuLink" href="#">Instructions</a></li>
            <li class="navbar-item"><a class="menuLink" href="#">Accounts</a></li>
            <li class="navbar-item"><a class="menuLink" href="#">Platforms</a></li>
            <li class="navbar-item"><a class="menuLink" href="#">Contact</a></li>
        </ul>
    </nav>
</div>