<div class="container">
    <a href="#" class="logotype" id="js-logo">
        <img class="logotype__img" src="" alt="LOGO">
    </a>
    <button class="ham"></button>
    <nav class="navbar">
        <ul class="navigation__list">
            <li class="navigation__list-item"><a class="menuLink" href="#">How it works</a></li>
            <li class="navigation__list-item"><a class="menuLink" href="#">About</a></li>
            <li class="navigation__list-item"><a class="menuLink" href="#">Instructions</a></li>
            <li class="navigation__list-item"><a class="menuLink" href="#">Accounts</a></li>
            <li class="navigation__list-item"><a class="menuLink" href="#">Platforms</a></li>
            <li class="navigation__list-item"><a class="menuLink" href="#">Contact</a></li>
        </ul>
    </nav>
    <ul class="languages" id="js-lang">
        <li class="languages__item">EN</li>
        <li class="languages__item">UA</li>
    </ul>
    <button class="signe-in__button">Signe in for free</button>
</div>