<section class="footer__container">
    <span class="container__text">Copyright 2020, All Right Reserved</span>

    <ul class="container__list">
        <li class="container__text-item">Terms and Conditions</li>
        <li class="container__text-item">Privacy Policy</li>
        <li class="container__text-item">Risk Warnings</li>
        <li class="container__text-item">Anti-Money Laundering</li>
    </ul>
</section>