<section class="container">
    <div class="wrapper">
        <div class="logo-wrapper">
            <a href="#" class="logotype" id="js-logo">
                <img class="logotype__img" src="" alt="LOGO">
            </a>
        </div>
        <ul class="menu__list">
            <li class="menu__list-item">About us</li>
            <li class="menu__list-item">Instructions</li>
            <li class="menu__list-item">Platforms</li>
            <li class="menu__list-item">Contact us</li>
            <li class="menu__list-item">Sign in</li>
            <li class="menu__list-item">Signe up for free</li>
        </ul>
        <div class="disclaimers">
            <div class="disclaimers__first">
                <h3 class="disclaimers__first-title">Information and high risk warning:</h3>
                <p class="disclaimers__first-text">Trading with foreign exchange (FX), contract for differences (CFDs) and precious metals carries a high level of risk that may not be suitable for all investors. Leverage creates additional risk and loss exposure. Before you decide to trade foreign exchange or contract for differences, carefully consider your investment objectives, experience level, and risk tolerance.</p>
            </div>
            <div class="disclaimers__second">
                <h3 class="disclaimers__second-title">Legal disclaimer:</h3>
                <p class="disclaimers__second-text">Forex trading entails significant risks and is not appropriate for all investors. The possibility of incurring substantial losses should be taken into account. It is therefore important to understand the possible consequences of investing. Traders should weigh their earning potential against the risks involved and act accordingly. Interactive Trade Ltd operating under brand and using domenLink domain within the European Economic Area.</p>
            </div>
        </div>
    </div>
    <div class="copyright">
        <span class="copyright__text">Copyright 2020, All Right Reserved</span>

        <ul class="copyright__list">
            <li class="copyright__list-item">Terms and Conditions</li>
            <li class="copyright__list-item">Privacy Policy</li>
            <li class="copyright__list-item">Risk Warnings</li>
            <li class="copyright__list-item">Anti-Money Laundering</li>
        </ul>
    </div>
    
</section>